/* Apariencia formulario  */

.tittle {
    color: #616161;
    margin-left: 60px;
}

.card-form {
    padding: 40px;
    margin: 60px;
    border-radius: 20px;
    background-color: #B0C4D9;
    width: 90%;
}

.text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #616161;
}

.btn-form {
    width: 309px;
    height: 46px;
    left: 906px;
    top: 660px;
    background: #486A8C;
    border-radius: 18px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #EFE6E6;
    border: 1px solid #486A8C;
}

.form-gape {
    background: #EFE6E6;
    border-radius: 10px;
    color: #616161;
}

.input-number {
    width: 80px;
    height: 37px;
    left: 511px;
    top: 563px;
    background: #EFE6E6;
    border: 2px solid rgba(114, 127, 140, 0.8);
    border-radius: 12px;
    padding: 10px;
}

.radio-butn {
    border: 1px solid #616161;
    width: 1em;
    background-color: #616161;
}

.form-check-input-checked-color::selection {
    color: #486A8C;
}

.progress {
    background: #EFE6E6;
    height: 35px;
    border-radius: 12px;
    margin-left: 7px;
    border: 2px solid rgba(114, 127, 140, 0.8);
    padding: 0 !important;
}

.progress-bar {
    height: 33px;
    left: 511px;
    top: 563px;
    background: #486A8C;
    border-radius: 10px;
}

.selectButn {
    width: 48px;
    height: 48px;
    background-color: #486A8C;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #486A8C;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.26);
    background: #486A8C;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #486A8C;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}